<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="/pageStyle.css" rel="stylesheet" />
    <title>여행지역 식당 추천 | 트래블러</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <!-- Core theme JS-->
    <script src="scripts.js"></script>
</head>
<body class = "my-body">
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            <img class="img-fluid rounded mb-5" src="img/portfolio/Traveler.png" alt="..." (static)/>
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">트래블러</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">맛집 여행 & 식당 추천 서비스</p>
        </div>
    </header>
        
        <div class="locsearch-restaurant">
            <form action="/locsearch" method="get">
                <br>
                <br>
                <br>
                <div class="searchlocation" style="text-align: center;">
                    <input required type="text" class="input-course" name="address" placeholder="여행하시는 지역이 어디신가요?(서울 구/동 단위 검색)"
                    style="color: #192531; margin-right: 10px;">
                    
                    <input required type="text" class="input-course" name="food2" placeholder="드시고 싶은 음식이 무엇인가요?(식당명 검색)" style="color: #192531;">
                    <input type="submit" class="btn-submit" value="제출">
                </div>
           
            <br>
            <br>
            <br>
       
            </form>
            </div>
            <hr>
            <table class = "table">
            <thead>
                <tr>
                    <th scope ="rowgroup"><p style ="font-size:30px">여기는 어떠세요?</p></th>
                    <th scope ="rowgroup"><p style ="font-size:20px">식당이름</p></th>
                    <th scope ="rowgroup"><p style ="font-size:20px">주소</p></th>
                    <th scope ="rowgroup"><p style ="font-size:20px">영업시간</p></th>
                    <th scope ="rowgroup"><p style ="font-size:20px">전화번호</p></th>
                    <th scope ="rowgroup"><p style ="font-size:20px">식당사진</p></th>
                </tr>
            </thead>
           
            <tbody>
                
                <% documents2 && documents2.forEach(function(val){ %>
                    <tr>
                        <td><p style ="font-size:20px"><%= val.classify %>식당</p>  </td>
                        <td><p style ="font-size:20px"><%= val.name %></p></td>
                        <td><p style ="font-size:15px"><%= val.address %></p></td>
                        <td><p style ="font-size:15px"><%= val.time %></p></td>
                        <td><p style ="font-size:15px"><%= val.tel %></p></td>
                        <td onClick="location.href='/info'"><img src= <%= val.picture %> style="width:300px" ></td>
                    </tr>
                <% }) %>
               
            </tbody>
            </table>
            <br>
            <br>
            <br>
            <table class = "table">
                <thead>
                    <tr>
                        <th scope ="rowgroup"><p style ="font-size:20px">같은 지역의 디저트 가게 추천!</p></th>
                        <th scope ="rowgroup"><p style ="font-size:20px">식당이름</p></th>
                        <th scope ="rowgroup"><p style ="font-size:20px">주소</p></th>
                        <th scope ="rowgroup"><p style ="font-size:20px">영업시간</p></th>
                        <th scope ="rowgroup"><p style ="font-size:20px">전화번호</p></th>
                        <th scope ="rowgroup"><p style ="font-size:20px">식당사진</p></th>
                    </tr>
                </thead>


                <tbody>
                    
                    <% documents3 && documents3.forEach(function(val){ %>
                        <tr>
                            <td><p style ="font-size:20px"><%= val.classify %></p>  </td>
                            <td><p style ="font-size:20px"><%= val.name %></p></td>
                            <td><p style ="font-size:15px"><%= val.address %></p></td>
                            <td><p style ="font-size:15px"><%= val.time %></p></td>
                            <td><p style ="font-size:15px"><%= val.tel %></p></td>
                            <td onClick="location.href='/info'"><img src= <%= val.picture %> style="width:300px" ></td>
                        </tr>
                    <% }) %>


                </tbody>
            </table>
        </div>
        <footer class="footer">
            <div class="inner">
                <h3 style="text-align: center; color: #ffffff;" >LOCATION</h3>
                <h2>
                    <p style="text-align: center; color: #ffffff;">
                        경기 성남시 수정구 성남대로 1342
                    </p>
                </h2>
                <h4 style="text-align: center; color: #ffffff;">Clark, MO 65243</h4>
            </div>
        </footer>
</body>
</html>